* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  font-size: 16px;
  background-color: #dddbd1;
}

.main-container {
  display: flex;
  width: 50%;
  height: 95%;
  margin: auto;
  background-color: #ffffff;
}

.main-container__left {
  width: 25%;
  min-width: 350px;
  height: 100%;
  border-right: 1px solid #e3e3e3;
}

.main-container__right {
  position: relative;
  width: 100%;
  min-width: 300px;
  height: 100%;
  background-image: url("../img/bg-chat.jpg");
  background-repeat: repeat;
  background-size: 400px;
}

.left__top-menu,
.right__top-menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 70px;
  background-color: #ededed;
}

/* CONTENUTO TOP MENU SINISTRO E DESTRO */
.left__top-menu__right ul,
.right__top-menu__right ul {
  display: flex;
  height: 100%;
  align-items: center;
  list-style-type: none;
}

.left__top-menu__right ul li,
.right__top-menu__right ul li {
  height: 100%;
  margin-right: 25px;
}

.message_send svg,
.right__input-message__icon svg,
.left__top-menu__right ul li a,
.right__top-menu__right ul li a {
  color: #808181;
}

.left__top-menu__right ul li a svg,
.right__top-menu__right ul li a svg {
  height: 100%;
}

.left__top-menu__left,
.right__top-menu__left {
  display: flex;
  align-items: center;
}

.convers {
  display: none;
  align-items: center;
}

.convers.active {
  display: flex;
}

.image img {
  display: block;
  width: 40px;
  height: 40px;
  margin-left: 16px;
  border-radius: 50%;
}

.top-menu__left__status {
  display: flex;
  flex-direction: column;
}

.top-menu__left__status a {
  text-decoration: none;
  margin-left: 20px;
}

.left__status__name {
  color: #000000;
}

.left__status__last-access {
  color: rgb(113, 113, 113);
  font-size: 0.7em;
}

/* DIV BARRA NOTIFICHE */
.left__notification {
  display: flex;
  align-items: center;
  width: 100%;
  height: 80px;
  background-color: #fed859;
}

.left__notification__icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  color: #fed859;
  line-height: 50px;
  font-size: 20px;
  margin-left: 16px;
  background: #ffffff;
}

.left__notification__text {
  flex-basis: 70%;
  padding-left: 16px;
}

.left__notification__text h3 {
  font-size: 1em;
  font-weight: 700;
  color: #413e34;
}

.left__notification__text a {
  color: #413e34;
  font-size: .9em;
}

/* DIV BARRA RICERCA */
.left__search-bar {
  width: 100%;
  height: 50px;
  padding: 10px 16px;
  background-color: #f8f8f8;
}

.left__search-bar .container {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  border-radius: 20px;
  background-color: #ffffff;
}

.left__search-bar .container a {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 20px;
}

.search_bar_icon_search {
  color: #b4b8ba;
}

.container .search-bar__input {
  font-size: 14px;
  font-weight: 400;
  width: 77%;
  padding-left: 20px;
  color: #b4b8ba;
  border: none;
  outline: none;
  background-color: #ffffff;
}

.container .search-bar__input::placeholder {
  color: #b4b8ba;
}

/* DIV SINISTRO DELLA LISTA CONVERSAZIONI */
.left__conversations {
  width: 100%;
  height: calc(100% - 70px - 80px - 50px);
  overflow: auto;
  background-color: #ffffff;
}

.conversation {
  display: flex;
  width: 100%;
  height: 72px;
  align-items: center;
  cursor: pointer;
  background-color: #ffffff;
  border-bottom: 1px solid #eeeeee;
}

.conversation:hover,
.conversation.active {
  background-color: #e8e8e8;
  transition: all 300ms ease-in;
}

.conversation__image {
  flex-basis: 50px;
}

.conversation__image img {
  display: block;
  width: 50px;
  height: 50px;
  margin-left: 16px;
  border-radius: 50%;
}

.conversation__titles {
  display: flex;
  flex-basis: 70%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  margin-left: 16px;
}

.conversation__titles .title__name {
  font-size: 16px;
  color: #000000;
}

.conversation__titles .title__message {
  font-size: 12px;
  overflow: hidden;
  padding-top: 3px;
  white-space: nowrap;
  color: #9d9d9d;
}

.conversation__time {
  display: flex;
  flex-basis: 10%;
  height: 100%;
  margin-right: 5px;
}

.conversation__time .time__last_message {
  font-size: 12px;
  margin-top: 20px;
  margin-right: 12px;
  color: #000000;
}

/* DIV DESTRO MESSAGGI */
.container-message {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: calc(100% - 70px);
  overflow-y: scroll;
  
}

.splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  background-color: #f8f9fa;
  border-bottom: 4px solid #4adf83;
}

.splash img {
  width: 200px;
}

.splash h2 {
  font-weight: 300;
  font-size: 2em;
  margin: 20px 0;
  color: rgb(105, 103, 103)
}

.splash h3 {
  font-weight: 300;
  font-size: .9em;
  color: rgb(73, 73, 73);
  margin: 0 20px;
  text-align: center;
}

.right-messages {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 80px;
}

.right-messages.active {
  display: flex;
}

.splash__animate {
  -webkit-animation: splash__animate 0.4s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
  animation: splash__animate 0.4s cubic-bezier(0.950, 0.050, 0.795, 0.035) both;
}

@-webkit-keyframes splash__animate {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes splash__animate {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/* DIV INPUT MESSAGGIO */
.right__input-message {
  padding: 0 16px;
  position: relative;
  display: flex;
  width: 100%;
  height: 70px;
  align-items: center;
  background-color: #ededed;
}

.input_message {
  font-size: 14px;
  width: 100%;
  padding: 10px;
  color: #acacac;
  border-radius: 50px;
  border: none;
  outline: none;
}

.input_message::placeholder {
  color: #b4b8ba;
}

.right__input-message__icon svg,
.message_send svg {
  width: 24px;
  height: 24px;
  vertical-align: middle;
  line-height: 40px;
}

.right__input-message__icon {
  padding-right: 20px;
}

.message_send {
  padding-left: 20px;
  padding-right: 20px;
}

/* EMOJI */
.emoticon-container {
  display: none;
  position: absolute;
  bottom: 70px;
  height: 200px;
  width: 100%;
  padding: 16px;
  background-color: #ededed;
  overflow-y: auto;
  border-bottom: 1px solid #e3e3e3;
  z-index: 5;
}

.emoticon-container h3 {
  font-size: 12px;
  padding-top: 10px;
  color: #9d9d9d;
}

.faccine {
  display: flex;
  flex-wrap: wrap;
}

.faccine li {
  list-style: none;
  font-size: 1.4em;
  padding: 10px 10px 10px 0;
  cursor: pointer;
}

/* TEMPLATE SINGOLI MESSAGGI */
.message__me,
.message__user {
  position: relative;
  min-width: 120px;
  max-width: 70%;
  font-size: 14px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 20px 30px 20px 20px;
  color: #262626;
  border-radius: 10px;
  box-shadow: 0 4px 4px -2px #cfcfcf;
}

.message_menu {
  display: none;
  position: absolute;
  top: 28px;
  right: 8px;
  z-index: 2;
  padding: 15px 0;
  list-style-type: none;
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 4px 4px -2px #cfcfcf;
}

.message__user {
  align-self: flex-start;
  background-color: white;
}

.message__me {
  align-self: flex-end;
  background-color: #dcf8c5;
}

.message__me .message_time,
.message__user .message_time {
  position: absolute;
  right: 10px;
  bottom: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(158, 158, 158);
}

.display-none {
  display: none;
}

/* ICONE MENU OPZIONI */
.message__user .message__icon,
.message__me .message__icon {
  position: absolute;
  top: 10px;
  right: 10px;
  color: #b4b8ba;
  cursor: pointer;
}

/* MENU OPZIONI */
.message_menu li {
  display: block;
  height: 40px;
  font-size: 14px;
  line-height: 40px;
  padding: 0 24px;
  cursor: pointer;
  white-space: nowrap;
  color: #000000;
}

.message_menu li:hover {
  background-color: #f2f2f2;
}
